TextbookManage.WebUI/Service References/DeclarationApprovalService/DeclarationApprovalService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DeclarationApprovalService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:2726/DeclarationApprovalService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:2726/DeclarationApprovalService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:2726/DeclarationApprovalService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TextbookManage.ViewModels" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDeclarationApprovalAppl_GetAuditor_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAuditor" />
  </wsdl:message>
  <wsdl:message name="IDeclarationApprovalAppl_GetAuditor_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAuditorResponse" />
  </wsdl:message>
  <wsdl:message name="IDeclarationApprovalAppl_GetSchoolWithNotApproval_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSchoolWithNotApproval" />
  </wsdl:message>
  <wsdl:message name="IDeclarationApprovalAppl_GetSchoolWithNotApproval_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSchoolWithNotApprovalResponse" />
  </wsdl:message>
  <wsdl:message name="IDeclarationApprovalAppl_GetDeclarationWithNotApproval_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDeclarationWithNotApproval" />
  </wsdl:message>
  <wsdl:message name="IDeclarationApprovalAppl_GetDeclarationWithNotApproval_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDeclarationWithNotApprovalResponse" />
  </wsdl:message>
  <wsdl:message name="IDeclarationApprovalAppl_SubmitDeclarationApproval_InputMessage">
    <wsdl:part name="parameters" element="tns:SubmitDeclarationApproval" />
  </wsdl:message>
  <wsdl:message name="IDeclarationApprovalAppl_SubmitDeclarationApproval_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubmitDeclarationApprovalResponse" />
  </wsdl:message>
  <wsdl:portType name="IDeclarationApprovalAppl">
    <wsdl:operation name="GetAuditor">
      <wsdl:input wsaw:Action="http://tempuri.org/IDeclarationApprovalAppl/GetAuditor" message="tns:IDeclarationApprovalAppl_GetAuditor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDeclarationApprovalAppl/GetAuditorResponse" message="tns:IDeclarationApprovalAppl_GetAuditor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSchoolWithNotApproval">
      <wsdl:input wsaw:Action="http://tempuri.org/IDeclarationApprovalAppl/GetSchoolWithNotApproval" message="tns:IDeclarationApprovalAppl_GetSchoolWithNotApproval_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDeclarationApprovalAppl/GetSchoolWithNotApprovalResponse" message="tns:IDeclarationApprovalAppl_GetSchoolWithNotApproval_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDeclarationWithNotApproval">
      <wsdl:input wsaw:Action="http://tempuri.org/IDeclarationApprovalAppl/GetDeclarationWithNotApproval" message="tns:IDeclarationApprovalAppl_GetDeclarationWithNotApproval_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDeclarationApprovalAppl/GetDeclarationWithNotApprovalResponse" message="tns:IDeclarationApprovalAppl_GetDeclarationWithNotApproval_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SubmitDeclarationApproval">
      <wsdl:input wsaw:Action="http://tempuri.org/IDeclarationApprovalAppl/SubmitDeclarationApproval" message="tns:IDeclarationApprovalAppl_SubmitDeclarationApproval_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDeclarationApprovalAppl/SubmitDeclarationApprovalResponse" message="tns:IDeclarationApprovalAppl_SubmitDeclarationApproval_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IDeclarationApprovalAppl" type="tns:IDeclarationApprovalAppl">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAuditor">
      <soap:operation soapAction="http://tempuri.org/IDeclarationApprovalAppl/GetAuditor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSchoolWithNotApproval">
      <soap:operation soapAction="http://tempuri.org/IDeclarationApprovalAppl/GetSchoolWithNotApproval" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDeclarationWithNotApproval">
      <soap:operation soapAction="http://tempuri.org/IDeclarationApprovalAppl/GetDeclarationWithNotApproval" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitDeclarationApproval">
      <soap:operation soapAction="http://tempuri.org/IDeclarationApprovalAppl/SubmitDeclarationApproval" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DeclarationApprovalService">
    <wsdl:port name="BasicHttpBinding_IDeclarationApprovalAppl" binding="tns:BasicHttpBinding_IDeclarationApprovalAppl">
      <soap:address location="http://localhost:2726/DeclarationApprovalService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>