TextbookManage.WebUI/Service References/DeclarationApprovalService/DeclarationApprovalService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TextbookManage.ViewModels" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TextbookManage.ViewModels" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfSchoolView">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SchoolView" nillable="true" type="tns:SchoolView" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSchoolView" nillable="true" type="tns:ArrayOfSchoolView" />
  <xs:complexType name="SchoolView">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseViewModel">
        <xs:sequence>
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SchoolId" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SchoolView" nillable="true" type="tns:SchoolView" />
  <xs:complexType name="BaseViewModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="CheckFlag" type="xs:boolean" />
      <xs:element minOccurs="0" name="DeleteFlag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsDelete" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaseViewModel" nillable="true" type="tns:BaseViewModel" />
  <xs:complexType name="ArrayOfDeclarationForApprovalView">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DeclarationForApprovalView" nillable="true" type="tns:DeclarationForApprovalView" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDeclarationForApprovalView" nillable="true" type="tns:ArrayOfDeclarationForApprovalView" />
  <xs:complexType name="DeclarationForApprovalView">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:DeclarationBaseView">
        <xs:sequence>
          <xs:element minOccurs="0" name="CourseName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CourseNum" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DataSignName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RecipientType" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DeclarationForApprovalView" nillable="true" type="tns:DeclarationForApprovalView" />
  <xs:complexType name="DeclarationBaseView">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseViewModel">
        <xs:sequence>
          <xs:element minOccurs="0" name="Declarant" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DeclarationCount" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DeclarationDate" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DeclarationId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Mobile" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ProfessionalClassName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TeachingTaskNum" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Telephone" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TextbookId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TextbookName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TextbookNum" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DeclarationBaseView" nillable="true" type="tns:DeclarationBaseView" />
  <xs:complexType name="ResponseView">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseViewModel">
        <xs:sequence>
          <xs:element minOccurs="0" name="IsSuccess" type="xs:boolean" />
          <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ResponseView" nillable="true" type="tns:ResponseView" />
</xs:schema>