TextbookManage.WebUI/Service References/FeedbackApprovalService/FeedbackApprovalService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="FeedbackApprovalService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:2726/FeedbackApprovalService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:2726/FeedbackApprovalService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:2726/FeedbackApprovalService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TextbookManage.ViewModels" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IFeedbackApprovalAppl_GetAuditor_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAuditor" />
  </wsdl:message>
  <wsdl:message name="IFeedbackApprovalAppl_GetAuditor_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAuditorResponse" />
  </wsdl:message>
  <wsdl:message name="IFeedbackApprovalAppl_GetBooksellerWithNotApproval_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBooksellerWithNotApproval" />
  </wsdl:message>
  <wsdl:message name="IFeedbackApprovalAppl_GetBooksellerWithNotApproval_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBooksellerWithNotApprovalResponse" />
  </wsdl:message>
  <wsdl:message name="IFeedbackApprovalAppl_GetFeedbackWithNotApproval_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFeedbackWithNotApproval" />
  </wsdl:message>
  <wsdl:message name="IFeedbackApprovalAppl_GetFeedbackWithNotApproval_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFeedbackWithNotApprovalResponse" />
  </wsdl:message>
  <wsdl:message name="IFeedbackApprovalAppl_SubmitFeedbackApproval_InputMessage">
    <wsdl:part name="parameters" element="tns:SubmitFeedbackApproval" />
  </wsdl:message>
  <wsdl:message name="IFeedbackApprovalAppl_SubmitFeedbackApproval_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubmitFeedbackApprovalResponse" />
  </wsdl:message>
  <wsdl:portType name="IFeedbackApprovalAppl">
    <wsdl:operation name="GetAuditor">
      <wsdl:input wsaw:Action="http://tempuri.org/IFeedbackApprovalAppl/GetAuditor" message="tns:IFeedbackApprovalAppl_GetAuditor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFeedbackApprovalAppl/GetAuditorResponse" message="tns:IFeedbackApprovalAppl_GetAuditor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBooksellerWithNotApproval">
      <wsdl:input wsaw:Action="http://tempuri.org/IFeedbackApprovalAppl/GetBooksellerWithNotApproval" message="tns:IFeedbackApprovalAppl_GetBooksellerWithNotApproval_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFeedbackApprovalAppl/GetBooksellerWithNotApprovalResponse" message="tns:IFeedbackApprovalAppl_GetBooksellerWithNotApproval_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFeedbackWithNotApproval">
      <wsdl:input wsaw:Action="http://tempuri.org/IFeedbackApprovalAppl/GetFeedbackWithNotApproval" message="tns:IFeedbackApprovalAppl_GetFeedbackWithNotApproval_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFeedbackApprovalAppl/GetFeedbackWithNotApprovalResponse" message="tns:IFeedbackApprovalAppl_GetFeedbackWithNotApproval_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SubmitFeedbackApproval">
      <wsdl:input wsaw:Action="http://tempuri.org/IFeedbackApprovalAppl/SubmitFeedbackApproval" message="tns:IFeedbackApprovalAppl_SubmitFeedbackApproval_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFeedbackApprovalAppl/SubmitFeedbackApprovalResponse" message="tns:IFeedbackApprovalAppl_SubmitFeedbackApproval_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IFeedbackApprovalAppl" type="tns:IFeedbackApprovalAppl">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAuditor">
      <soap:operation soapAction="http://tempuri.org/IFeedbackApprovalAppl/GetAuditor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBooksellerWithNotApproval">
      <soap:operation soapAction="http://tempuri.org/IFeedbackApprovalAppl/GetBooksellerWithNotApproval" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFeedbackWithNotApproval">
      <soap:operation soapAction="http://tempuri.org/IFeedbackApprovalAppl/GetFeedbackWithNotApproval" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitFeedbackApproval">
      <soap:operation soapAction="http://tempuri.org/IFeedbackApprovalAppl/SubmitFeedbackApproval" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FeedbackApprovalService">
    <wsdl:port name="BasicHttpBinding_IFeedbackApprovalAppl" binding="tns:BasicHttpBinding_IFeedbackApprovalAppl">
      <soap:address location="http://localhost:2726/FeedbackApprovalService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>