TextbookManage.WebUI/Service References/ReleaseClassBookService/ReleaseClassBookService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TextbookManage.ViewModels" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TextbookManage.ViewModels" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfSchoolView">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SchoolView" nillable="true" type="tns:SchoolView" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSchoolView" nillable="true" type="tns:ArrayOfSchoolView" />
  <xs:complexType name="SchoolView">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseViewModel">
        <xs:sequence>
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SchoolId" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SchoolView" nillable="true" type="tns:SchoolView" />
  <xs:complexType name="BaseViewModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="CheckFlag" type="xs:boolean" />
      <xs:element minOccurs="0" name="DeleteFlag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsDelete" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaseViewModel" nillable="true" type="tns:BaseViewModel" />
  <xs:complexType name="ArrayOfProfessionalClassBaseView">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProfessionalClassBaseView" nillable="true" type="tns:ProfessionalClassBaseView" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProfessionalClassBaseView" nillable="true" type="tns:ArrayOfProfessionalClassBaseView" />
  <xs:complexType name="ProfessionalClassBaseView">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseViewModel">
        <xs:sequence>
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ProfessionalClassId" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ProfessionalClassBaseView" nillable="true" type="tns:ProfessionalClassBaseView" />
  <xs:complexType name="ArrayOfStorageView">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StorageView" nillable="true" type="tns:StorageView" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStorageView" nillable="true" type="tns:ArrayOfStorageView" />
  <xs:complexType name="StorageView">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseViewModel">
        <xs:sequence>
          <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="BooksellerId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="BooksellerName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StorageId" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="StorageView" nillable="true" type="tns:StorageView" />
  <xs:complexType name="ResponseView">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseViewModel">
        <xs:sequence>
          <xs:element minOccurs="0" name="IsSuccess" type="xs:boolean" />
          <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ResponseView" nillable="true" type="tns:ResponseView" />
  <xs:complexType name="ArrayOfInventoryForReleaseClassView">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="InventoryForReleaseClassView" nillable="true" type="tns:InventoryForReleaseClassView" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfInventoryForReleaseClassView" nillable="true" type="tns:ArrayOfInventoryForReleaseClassView" />
  <xs:complexType name="InventoryForReleaseClassView">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:InventoryView">
        <xs:sequence>
          <xs:element minOccurs="0" name="AverageCount" type="xs:int" />
          <xs:element minOccurs="0" name="DeclarationCount" type="xs:int" />
          <xs:element minOccurs="0" name="Discount" type="xs:decimal" />
          <xs:element minOccurs="0" name="DiscountPrice" type="xs:decimal" />
          <xs:element minOccurs="0" name="ReleaseCount" type="xs:int" />
          <xs:element minOccurs="0" name="Students" nillable="true" type="tns:ArrayOfStudentView" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="InventoryForReleaseClassView" nillable="true" type="tns:InventoryForReleaseClassView" />
  <xs:complexType name="InventoryView">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:TextbookView">
        <xs:sequence>
          <xs:element minOccurs="0" name="InventoryCount" type="xs:int" />
          <xs:element minOccurs="0" name="InventoryId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ShelfNumber" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StorageId" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="InventoryView" nillable="true" type="tns:InventoryView" />
  <xs:complexType name="TextbookView">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseViewModel">
        <xs:sequence>
          <xs:element minOccurs="0" name="Author" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Edition" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IsSelfCompile" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Isbn" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Num" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PageCount" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Press" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PressAddress" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Price" type="xs:decimal" />
          <xs:element minOccurs="0" name="PrintCount" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PublishDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="TextbookId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TextbookType" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TextbookView" nillable="true" type="tns:TextbookView" />
  <xs:complexType name="ArrayOfStudentView">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StudentView" nillable="true" type="tns:StudentView" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStudentView" nillable="true" type="tns:ArrayOfStudentView" />
  <xs:complexType name="StudentView">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseViewModel">
        <xs:sequence>
          <xs:element minOccurs="0" name="Gender" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Num" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StudentId" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="StudentView" nillable="true" type="tns:StudentView" />
  <xs:complexType name="ReleaseBookForClassView">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ReleaseBookView">
        <xs:sequence>
          <xs:element minOccurs="0" name="Recipient2Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Recipient2Telephone" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ReleaseBookForClassView" nillable="true" type="tns:ReleaseBookForClassView" />
  <xs:complexType name="ReleaseBookView">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseViewModel">
        <xs:sequence>
          <xs:element minOccurs="0" name="Operator" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RecipientName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RecipientTelephone" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ReleaseBookView" nillable="true" type="tns:ReleaseBookView" />
</xs:schema>