TextbookManage.WebUI/Service References/DeclarationQueryService/DeclarationQueryService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2726/DeclarationQueryService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TextbookManage.ViewModels" />
  <xs:element name="GetSchoolByLoginName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSchoolByLoginNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TextbookManage.ViewModels" minOccurs="0" name="GetSchoolByLoginNameResult" nillable="true" type="q1:ArrayOfSchoolView" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDepartmentBySchoolId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="schoolId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDepartmentBySchoolIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/TextbookManage.ViewModels" minOccurs="0" name="GetDepartmentBySchoolIdResult" nillable="true" type="q2:ArrayOfDepartmentView" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTerm">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTermResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/TextbookManage.ViewModels" minOccurs="0" name="GetTermResult" nillable="true" type="q3:ArrayOfTermView" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRecipientType">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRecipientTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/TextbookManage.ViewModels" minOccurs="0" name="GetRecipientTypeResult" nillable="true" type="q4:ArrayOfRecipientTypeView" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCourseByDepartmentId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="departmentId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="term" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCourseByDepartmentIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/TextbookManage.ViewModels" minOccurs="0" name="GetCourseByDepartmentIdResult" nillable="true" type="q5:ArrayOfCourseView" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeclarationByCourseId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="courseId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="departmentId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="term" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="recipientTypeName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeclarationByCourseIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/TextbookManage.ViewModels" minOccurs="0" name="GetDeclarationByCourseIdResult" nillable="true" type="q6:ArrayOfDeclarationForQueryView" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeclarationApproval">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="declarationId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeclarationApprovalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/TextbookManage.ViewModels" minOccurs="0" name="GetDeclarationApprovalResult" nillable="true" type="q7:ArrayOfApprovalView" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFeedbackByDeclarationId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="declarationId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFeedbackByDeclarationIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/TextbookManage.ViewModels" minOccurs="0" name="GetFeedbackByDeclarationIdResult" nillable="true" type="q8:FeedbackView" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>