TextbookManage.WebUI/Service References/CasMapperService/CasMapperService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CasMapperService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:2726/CasMapperService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:2726/CasMapperService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:2726/CasMapperService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TextbookManage.ViewModels" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICasMapperAppl_Import_InputMessage">
    <wsdl:part name="parameters" element="tns:Import" />
  </wsdl:message>
  <wsdl:message name="ICasMapperAppl_Import_OutputMessage">
    <wsdl:part name="parameters" element="tns:ImportResponse" />
  </wsdl:message>
  <wsdl:message name="ICasMapperAppl_Add_InputMessage">
    <wsdl:part name="parameters" element="tns:Add" />
  </wsdl:message>
  <wsdl:message name="ICasMapperAppl_Add_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddResponse" />
  </wsdl:message>
  <wsdl:message name="ICasMapperAppl_Modify_InputMessage">
    <wsdl:part name="parameters" element="tns:Modify" />
  </wsdl:message>
  <wsdl:message name="ICasMapperAppl_Modify_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModifyResponse" />
  </wsdl:message>
  <wsdl:message name="ICasMapperAppl_Remove_InputMessage">
    <wsdl:part name="parameters" element="tns:Remove" />
  </wsdl:message>
  <wsdl:message name="ICasMapperAppl_Remove_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveResponse" />
  </wsdl:message>
  <wsdl:message name="ICasMapperAppl_GetUsernameByCasNetId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUsernameByCasNetId" />
  </wsdl:message>
  <wsdl:message name="ICasMapperAppl_GetUsernameByCasNetId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUsernameByCasNetIdResponse" />
  </wsdl:message>
  <wsdl:portType name="ICasMapperAppl">
    <wsdl:operation name="Import">
      <wsdl:input wsaw:Action="http://tempuri.org/ICasMapperAppl/Import" message="tns:ICasMapperAppl_Import_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICasMapperAppl/ImportResponse" message="tns:ICasMapperAppl_Import_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Add">
      <wsdl:input wsaw:Action="http://tempuri.org/ICasMapperAppl/Add" message="tns:ICasMapperAppl_Add_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICasMapperAppl/AddResponse" message="tns:ICasMapperAppl_Add_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Modify">
      <wsdl:input wsaw:Action="http://tempuri.org/ICasMapperAppl/Modify" message="tns:ICasMapperAppl_Modify_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICasMapperAppl/ModifyResponse" message="tns:ICasMapperAppl_Modify_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Remove">
      <wsdl:input wsaw:Action="http://tempuri.org/ICasMapperAppl/Remove" message="tns:ICasMapperAppl_Remove_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICasMapperAppl/RemoveResponse" message="tns:ICasMapperAppl_Remove_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUsernameByCasNetId">
      <wsdl:input wsaw:Action="http://tempuri.org/ICasMapperAppl/GetUsernameByCasNetId" message="tns:ICasMapperAppl_GetUsernameByCasNetId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICasMapperAppl/GetUsernameByCasNetIdResponse" message="tns:ICasMapperAppl_GetUsernameByCasNetId_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICasMapperAppl" type="tns:ICasMapperAppl">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Import">
      <soap:operation soapAction="http://tempuri.org/ICasMapperAppl/Import" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Add">
      <soap:operation soapAction="http://tempuri.org/ICasMapperAppl/Add" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Modify">
      <soap:operation soapAction="http://tempuri.org/ICasMapperAppl/Modify" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Remove">
      <soap:operation soapAction="http://tempuri.org/ICasMapperAppl/Remove" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUsernameByCasNetId">
      <soap:operation soapAction="http://tempuri.org/ICasMapperAppl/GetUsernameByCasNetId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CasMapperService">
    <wsdl:port name="BasicHttpBinding_ICasMapperAppl" binding="tns:BasicHttpBinding_ICasMapperAppl">
      <soap:address location="http://localhost:2726/CasMapperService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>