TextbookManage.WebUI/Service References/CasMapperService/CasMapperService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2726/CasMapperService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TextbookManage.ViewModels" />
  <xs:element name="Import">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TextbookManage.ViewModels" minOccurs="0" name="casMappers" nillable="true" type="q1:ArrayOfCasMapperView" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/TextbookManage.ViewModels" minOccurs="0" name="ImportResult" nillable="true" type="q2:ResponseView" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Add">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/TextbookManage.ViewModels" minOccurs="0" name="casMapper" nillable="true" type="q3:CasMapperView" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/TextbookManage.ViewModels" minOccurs="0" name="AddResult" nillable="true" type="q4:ResponseView" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Modify">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/TextbookManage.ViewModels" minOccurs="0" name="casMapper" nillable="true" type="q5:CasMapperView" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/TextbookManage.ViewModels" minOccurs="0" name="ModifyResult" nillable="true" type="q6:ResponseView" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Remove">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/TextbookManage.ViewModels" minOccurs="0" name="casMapper" nillable="true" type="q7:CasMapperView" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/TextbookManage.ViewModels" minOccurs="0" name="RemoveResult" nillable="true" type="q8:ResponseView" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsernameByCasNetId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="casNetId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsernameByCasNetIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetUsernameByCasNetIdResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>