TextbookManage.WebUI/Service References/TermService/TermService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TermService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:2726/TermService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:2726/TermService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:2726/TermService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TextbookManage.ViewModels" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITermAppl_GetAllTerms_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTerms" />
  </wsdl:message>
  <wsdl:message name="ITermAppl_GetAllTerms_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTermsResponse" />
  </wsdl:message>
  <wsdl:message name="ITermAppl_GetCurrent_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCurrent" />
  </wsdl:message>
  <wsdl:message name="ITermAppl_GetCurrent_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCurrentResponse" />
  </wsdl:message>
  <wsdl:portType name="ITermAppl">
    <wsdl:operation name="GetAllTerms">
      <wsdl:input wsaw:Action="http://tempuri.org/ITermAppl/GetAllTerms" message="tns:ITermAppl_GetAllTerms_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITermAppl/GetAllTermsResponse" message="tns:ITermAppl_GetAllTerms_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCurrent">
      <wsdl:input wsaw:Action="http://tempuri.org/ITermAppl/GetCurrent" message="tns:ITermAppl_GetCurrent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITermAppl/GetCurrentResponse" message="tns:ITermAppl_GetCurrent_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITermAppl" type="tns:ITermAppl">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllTerms">
      <soap:operation soapAction="http://tempuri.org/ITermAppl/GetAllTerms" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrent">
      <soap:operation soapAction="http://tempuri.org/ITermAppl/GetCurrent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TermService">
    <wsdl:port name="BasicHttpBinding_ITermAppl" binding="tns:BasicHttpBinding_ITermAppl">
      <soap:address location="http://localhost:2726/TermService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>