TextbookManage.Services.Test/Service References/SchoolService/SchoolService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:3647/Jw/SchoolService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TextbookManage.Domain.Models" />
  <xs:element name="GetAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TextbookManage.Domain.Models" minOccurs="0" name="GetAllResult" nillable="true" type="q1:ArrayOfSchool" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="schoolId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/TextbookManage.Domain.Models" minOccurs="0" name="GetByIdResult" nillable="true" type="q2:School" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>