TextbookManage.WebUI/Service References/DeclarationService/DeclarationService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DeclarationService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:2726/DeclarationService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:2726/DeclarationService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:2726/DeclarationService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TextbookManage.ViewModels" />
      <xsd:import schemaLocation="http://localhost:2726/DeclarationService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDeclarationAppl_GetSchoolByLoginName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSchoolByLoginName" />
  </wsdl:message>
  <wsdl:message name="IDeclarationAppl_GetSchoolByLoginName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSchoolByLoginNameResponse" />
  </wsdl:message>
  <wsdl:message name="IDeclarationAppl_GetDepartmentByLoginName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDepartmentByLoginName" />
  </wsdl:message>
  <wsdl:message name="IDeclarationAppl_GetDepartmentByLoginName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDepartmentByLoginNameResponse" />
  </wsdl:message>
  <wsdl:message name="IDeclarationAppl_GetCourseByDepartmentId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCourseByDepartmentId" />
  </wsdl:message>
  <wsdl:message name="IDeclarationAppl_GetCourseByDepartmentId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCourseByDepartmentIdResponse" />
  </wsdl:message>
  <wsdl:message name="IDeclarationAppl_GetTeachingTaskByDepartmentId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTeachingTaskByDepartmentId" />
  </wsdl:message>
  <wsdl:message name="IDeclarationAppl_GetTeachingTaskByDepartmentId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTeachingTaskByDepartmentIdResponse" />
  </wsdl:message>
  <wsdl:message name="IDeclarationAppl_GetTextbooksByName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTextbooksByName" />
  </wsdl:message>
  <wsdl:message name="IDeclarationAppl_GetTextbooksByName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTextbooksByNameResponse" />
  </wsdl:message>
  <wsdl:message name="IDeclarationAppl_SubmitStudentDeclaration_InputMessage">
    <wsdl:part name="parameters" element="tns:SubmitStudentDeclaration" />
  </wsdl:message>
  <wsdl:message name="IDeclarationAppl_SubmitStudentDeclaration_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubmitStudentDeclarationResponse" />
  </wsdl:message>
  <wsdl:message name="IDeclarationAppl_SubmitTeacherDeclaration_InputMessage">
    <wsdl:part name="parameters" element="tns:SubmitTeacherDeclaration" />
  </wsdl:message>
  <wsdl:message name="IDeclarationAppl_SubmitTeacherDeclaration_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubmitTeacherDeclarationResponse" />
  </wsdl:message>
  <wsdl:message name="IDeclarationAppl_GetProfessionalClassByTeachingTaskNum_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProfessionalClassByTeachingTaskNum" />
  </wsdl:message>
  <wsdl:message name="IDeclarationAppl_GetProfessionalClassByTeachingTaskNum_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProfessionalClassByTeachingTaskNumResponse" />
  </wsdl:message>
  <wsdl:message name="IDeclarationAppl_GetDeclarationByTeacingTaskNum_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDeclarationByTeacingTaskNum" />
  </wsdl:message>
  <wsdl:message name="IDeclarationAppl_GetDeclarationByTeacingTaskNum_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDeclarationByTeacingTaskNumResponse" />
  </wsdl:message>
  <wsdl:message name="IDeclarationAppl_CalculateDeclarationCount_InputMessage">
    <wsdl:part name="parameters" element="tns:CalculateDeclarationCount" />
  </wsdl:message>
  <wsdl:message name="IDeclarationAppl_CalculateDeclarationCount_OutputMessage">
    <wsdl:part name="parameters" element="tns:CalculateDeclarationCountResponse" />
  </wsdl:message>
  <wsdl:portType name="IDeclarationAppl">
    <wsdl:operation name="GetSchoolByLoginName">
      <wsdl:input wsaw:Action="http://tempuri.org/IDeclarationAppl/GetSchoolByLoginName" message="tns:IDeclarationAppl_GetSchoolByLoginName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDeclarationAppl/GetSchoolByLoginNameResponse" message="tns:IDeclarationAppl_GetSchoolByLoginName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDepartmentByLoginName">
      <wsdl:input wsaw:Action="http://tempuri.org/IDeclarationAppl/GetDepartmentByLoginName" message="tns:IDeclarationAppl_GetDepartmentByLoginName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDeclarationAppl/GetDepartmentByLoginNameResponse" message="tns:IDeclarationAppl_GetDepartmentByLoginName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCourseByDepartmentId">
      <wsdl:input wsaw:Action="http://tempuri.org/IDeclarationAppl/GetCourseByDepartmentId" message="tns:IDeclarationAppl_GetCourseByDepartmentId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDeclarationAppl/GetCourseByDepartmentIdResponse" message="tns:IDeclarationAppl_GetCourseByDepartmentId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTeachingTaskByDepartmentId">
      <wsdl:input wsaw:Action="http://tempuri.org/IDeclarationAppl/GetTeachingTaskByDepartmentId" message="tns:IDeclarationAppl_GetTeachingTaskByDepartmentId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDeclarationAppl/GetTeachingTaskByDepartmentIdResponse" message="tns:IDeclarationAppl_GetTeachingTaskByDepartmentId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTextbooksByName">
      <wsdl:input wsaw:Action="http://tempuri.org/IDeclarationAppl/GetTextbooksByName" message="tns:IDeclarationAppl_GetTextbooksByName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDeclarationAppl/GetTextbooksByNameResponse" message="tns:IDeclarationAppl_GetTextbooksByName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SubmitStudentDeclaration">
      <wsdl:input wsaw:Action="http://tempuri.org/IDeclarationAppl/SubmitStudentDeclaration" message="tns:IDeclarationAppl_SubmitStudentDeclaration_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDeclarationAppl/SubmitStudentDeclarationResponse" message="tns:IDeclarationAppl_SubmitStudentDeclaration_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SubmitTeacherDeclaration">
      <wsdl:input wsaw:Action="http://tempuri.org/IDeclarationAppl/SubmitTeacherDeclaration" message="tns:IDeclarationAppl_SubmitTeacherDeclaration_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDeclarationAppl/SubmitTeacherDeclarationResponse" message="tns:IDeclarationAppl_SubmitTeacherDeclaration_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProfessionalClassByTeachingTaskNum">
      <wsdl:input wsaw:Action="http://tempuri.org/IDeclarationAppl/GetProfessionalClassByTeachingTaskNum" message="tns:IDeclarationAppl_GetProfessionalClassByTeachingTaskNum_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDeclarationAppl/GetProfessionalClassByTeachingTaskNumResponse" message="tns:IDeclarationAppl_GetProfessionalClassByTeachingTaskNum_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDeclarationByTeacingTaskNum">
      <wsdl:input wsaw:Action="http://tempuri.org/IDeclarationAppl/GetDeclarationByTeacingTaskNum" message="tns:IDeclarationAppl_GetDeclarationByTeacingTaskNum_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDeclarationAppl/GetDeclarationByTeacingTaskNumResponse" message="tns:IDeclarationAppl_GetDeclarationByTeacingTaskNum_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CalculateDeclarationCount">
      <wsdl:input wsaw:Action="http://tempuri.org/IDeclarationAppl/CalculateDeclarationCount" message="tns:IDeclarationAppl_CalculateDeclarationCount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDeclarationAppl/CalculateDeclarationCountResponse" message="tns:IDeclarationAppl_CalculateDeclarationCount_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IDeclarationAppl" type="tns:IDeclarationAppl">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetSchoolByLoginName">
      <soap:operation soapAction="http://tempuri.org/IDeclarationAppl/GetSchoolByLoginName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDepartmentByLoginName">
      <soap:operation soapAction="http://tempuri.org/IDeclarationAppl/GetDepartmentByLoginName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCourseByDepartmentId">
      <soap:operation soapAction="http://tempuri.org/IDeclarationAppl/GetCourseByDepartmentId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTeachingTaskByDepartmentId">
      <soap:operation soapAction="http://tempuri.org/IDeclarationAppl/GetTeachingTaskByDepartmentId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTextbooksByName">
      <soap:operation soapAction="http://tempuri.org/IDeclarationAppl/GetTextbooksByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitStudentDeclaration">
      <soap:operation soapAction="http://tempuri.org/IDeclarationAppl/SubmitStudentDeclaration" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitTeacherDeclaration">
      <soap:operation soapAction="http://tempuri.org/IDeclarationAppl/SubmitTeacherDeclaration" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProfessionalClassByTeachingTaskNum">
      <soap:operation soapAction="http://tempuri.org/IDeclarationAppl/GetProfessionalClassByTeachingTaskNum" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDeclarationByTeacingTaskNum">
      <soap:operation soapAction="http://tempuri.org/IDeclarationAppl/GetDeclarationByTeacingTaskNum" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CalculateDeclarationCount">
      <soap:operation soapAction="http://tempuri.org/IDeclarationAppl/CalculateDeclarationCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DeclarationService">
    <wsdl:port name="BasicHttpBinding_IDeclarationAppl" binding="tns:BasicHttpBinding_IDeclarationAppl">
      <soap:address location="http://localhost:2726/DeclarationService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>