TextbookManage.WebUI/Service References/DeclarationService/DeclarationService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TextbookManage.ViewModels" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TextbookManage.ViewModels" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2726/DeclarationService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ArrayOfSchoolView">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SchoolView" nillable="true" type="tns:SchoolView" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSchoolView" nillable="true" type="tns:ArrayOfSchoolView" />
  <xs:complexType name="SchoolView">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseViewModel">
        <xs:sequence>
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SchoolId" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SchoolView" nillable="true" type="tns:SchoolView" />
  <xs:complexType name="BaseViewModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="CheckFlag" type="xs:boolean" />
      <xs:element minOccurs="0" name="DeleteFlag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsDelete" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaseViewModel" nillable="true" type="tns:BaseViewModel" />
  <xs:complexType name="ArrayOfDepartmentView">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DepartmentView" nillable="true" type="tns:DepartmentView" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDepartmentView" nillable="true" type="tns:ArrayOfDepartmentView" />
  <xs:complexType name="DepartmentView">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseViewModel">
        <xs:sequence>
          <xs:element minOccurs="0" name="DepartmentId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DepartmentView" nillable="true" type="tns:DepartmentView" />
  <xs:complexType name="ArrayOfCourseView">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CourseView" nillable="true" type="tns:CourseView" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCourseView" nillable="true" type="tns:ArrayOfCourseView" />
  <xs:complexType name="CourseView">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseViewModel">
        <xs:sequence>
          <xs:element minOccurs="0" name="CourseId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Num" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NumAndName" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CourseView" nillable="true" type="tns:CourseView" />
  <xs:complexType name="ArrayOfTeachingTaskView">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TeachingTaskView" nillable="true" type="tns:TeachingTaskView" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTeachingTaskView" nillable="true" type="tns:ArrayOfTeachingTaskView" />
  <xs:complexType name="TeachingTaskView">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseViewModel">
        <xs:sequence>
          <xs:element minOccurs="0" name="DataSignName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DeclarationState" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StudentCount" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TeacherName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TeachingTaskNum" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TeachingTaskView" nillable="true" type="tns:TeachingTaskView" />
  <xs:complexType name="ArrayOfTextbookForDeclarationView">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TextbookForDeclarationView" nillable="true" type="tns:TextbookForDeclarationView" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTextbookForDeclarationView" nillable="true" type="tns:ArrayOfTextbookForDeclarationView" />
  <xs:complexType name="TextbookForDeclarationView">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseViewModel">
        <xs:sequence>
          <xs:element minOccurs="0" name="Isbn" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Num" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TextbookId" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TextbookForDeclarationView" nillable="true" type="tns:TextbookForDeclarationView" />
  <xs:complexType name="DeclarationView">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseViewModel">
        <xs:sequence>
          <xs:element minOccurs="0" name="Declarant" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DeclarationCount" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DeclarationId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Mobile" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NotNeedTextbook" type="xs:boolean" />
          <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="TeachingTaskNums" nillable="true" type="q1:ArrayOfstring" />
          <xs:element minOccurs="0" name="Telephone" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TextbookId" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DeclarationView" nillable="true" type="tns:DeclarationView" />
  <xs:complexType name="ResponseView">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseViewModel">
        <xs:sequence>
          <xs:element minOccurs="0" name="IsSuccess" type="xs:boolean" />
          <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ResponseView" nillable="true" type="tns:ResponseView" />
  <xs:complexType name="ArrayOfProfessionalClassView">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProfessionalClassView" nillable="true" type="tns:ProfessionalClassView" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProfessionalClassView" nillable="true" type="tns:ArrayOfProfessionalClassView" />
  <xs:complexType name="ProfessionalClassView">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ProfessionalClassBaseView">
        <xs:sequence>
          <xs:element minOccurs="0" name="Num" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StudentCount" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ProfessionalClassView" nillable="true" type="tns:ProfessionalClassView" />
  <xs:complexType name="ProfessionalClassBaseView">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseViewModel">
        <xs:sequence>
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ProfessionalClassId" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ProfessionalClassBaseView" nillable="true" type="tns:ProfessionalClassBaseView" />
  <xs:complexType name="ArrayOfDeclarationForTeachingTaskView">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DeclarationForTeachingTaskView" nillable="true" type="tns:DeclarationForTeachingTaskView" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDeclarationForTeachingTaskView" nillable="true" type="tns:ArrayOfDeclarationForTeachingTaskView" />
  <xs:complexType name="DeclarationForTeachingTaskView">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:DeclarationBaseView">
        <xs:sequence>
          <xs:element minOccurs="0" name="Author" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Edition" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Isbn" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Press" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Price" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PrintCount" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DeclarationForTeachingTaskView" nillable="true" type="tns:DeclarationForTeachingTaskView" />
  <xs:complexType name="DeclarationBaseView">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseViewModel">
        <xs:sequence>
          <xs:element minOccurs="0" name="Declarant" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DeclarationCount" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DeclarationDate" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DeclarationId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Mobile" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ProfessionalClassName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TeachingTaskNum" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Telephone" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TextbookId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TextbookName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TextbookNum" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DeclarationBaseView" nillable="true" type="tns:DeclarationBaseView" />
</xs:schema>