TextbookManage.WebUI/Service References/DeclarationService/DeclarationService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2726/DeclarationService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TextbookManage.ViewModels" />
  <xs:element name="GetSchoolByLoginName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSchoolByLoginNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TextbookManage.ViewModels" minOccurs="0" name="GetSchoolByLoginNameResult" nillable="true" type="q1:ArrayOfSchoolView" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDepartmentByLoginName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="schoolId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDepartmentByLoginNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/TextbookManage.ViewModels" minOccurs="0" name="GetDepartmentByLoginNameResult" nillable="true" type="q2:ArrayOfDepartmentView" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCourseByDepartmentId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="departmentId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCourseByDepartmentIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/TextbookManage.ViewModels" minOccurs="0" name="GetCourseByDepartmentIdResult" nillable="true" type="q3:ArrayOfCourseView" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTeachingTaskByDepartmentId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="departmentId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="courseId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTeachingTaskByDepartmentIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/TextbookManage.ViewModels" minOccurs="0" name="GetTeachingTaskByDepartmentIdResult" nillable="true" type="q4:ArrayOfTeachingTaskView" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTextbooksByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="isbn" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTextbooksByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/TextbookManage.ViewModels" minOccurs="0" name="GetTextbooksByNameResult" nillable="true" type="q5:ArrayOfTextbookForDeclarationView" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubmitStudentDeclaration">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/TextbookManage.ViewModels" minOccurs="0" name="view" nillable="true" type="q6:DeclarationView" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubmitStudentDeclarationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/TextbookManage.ViewModels" minOccurs="0" name="SubmitStudentDeclarationResult" nillable="true" type="q7:ResponseView" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubmitTeacherDeclaration">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/TextbookManage.ViewModels" minOccurs="0" name="view" nillable="true" type="q8:DeclarationView" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubmitTeacherDeclarationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/TextbookManage.ViewModels" minOccurs="0" name="SubmitTeacherDeclarationResult" nillable="true" type="q9:ResponseView" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProfessionalClassByTeachingTaskNum">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="teachingTaskNum" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProfessionalClassByTeachingTaskNumResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/TextbookManage.ViewModels" minOccurs="0" name="GetProfessionalClassByTeachingTaskNumResult" nillable="true" type="q10:ArrayOfProfessionalClassView" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeclarationByTeacingTaskNum">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="teachingTaskNum" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeclarationByTeacingTaskNumResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/TextbookManage.ViewModels" minOccurs="0" name="GetDeclarationByTeacingTaskNumResult" nillable="true" type="q11:ArrayOfDeclarationForTeachingTaskView" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalculateDeclarationCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/TextbookManage.ViewModels" minOccurs="0" name="views" nillable="true" type="q12:ArrayOfTeachingTaskView" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalculateDeclarationCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CalculateDeclarationCountResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>