TextbookManage.WebUI/Service References/SubscriptionService/SubscriptionService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SubscriptionService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:2726/SubscriptionService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:2726/SubscriptionService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:2726/SubscriptionService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TextbookManage.ViewModels" />
      <xsd:import schemaLocation="http://localhost:2726/SubscriptionService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISubscriptionAppl_CreateSubscriptionsByTextbook_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateSubscriptionsByTextbook" />
  </wsdl:message>
  <wsdl:message name="ISubscriptionAppl_CreateSubscriptionsByTextbook_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateSubscriptionsByTextbookResponse" />
  </wsdl:message>
  <wsdl:message name="ISubscriptionAppl_GetSchoolWithNotSub_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSchoolWithNotSub" />
  </wsdl:message>
  <wsdl:message name="ISubscriptionAppl_GetSchoolWithNotSub_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSchoolWithNotSubResponse" />
  </wsdl:message>
  <wsdl:message name="ISubscriptionAppl_CreateSubscriptionsBySchoolId_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateSubscriptionsBySchoolId" />
  </wsdl:message>
  <wsdl:message name="ISubscriptionAppl_CreateSubscriptionsBySchoolId_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateSubscriptionsBySchoolIdResponse" />
  </wsdl:message>
  <wsdl:message name="ISubscriptionAppl_GetPressWithNotSub_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPressWithNotSub" />
  </wsdl:message>
  <wsdl:message name="ISubscriptionAppl_GetPressWithNotSub_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPressWithNotSubResponse" />
  </wsdl:message>
  <wsdl:message name="ISubscriptionAppl_CreateSubscriptionsByPress_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateSubscriptionsByPress" />
  </wsdl:message>
  <wsdl:message name="ISubscriptionAppl_CreateSubscriptionsByPress_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateSubscriptionsByPressResponse" />
  </wsdl:message>
  <wsdl:message name="ISubscriptionAppl_SubmitSubscriptions_InputMessage">
    <wsdl:part name="parameters" element="tns:SubmitSubscriptions" />
  </wsdl:message>
  <wsdl:message name="ISubscriptionAppl_SubmitSubscriptions_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubmitSubscriptionsResponse" />
  </wsdl:message>
  <wsdl:message name="ISubscriptionAppl_GetFeedbackState_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFeedbackState" />
  </wsdl:message>
  <wsdl:message name="ISubscriptionAppl_GetFeedbackState_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFeedbackStateResponse" />
  </wsdl:message>
  <wsdl:message name="ISubscriptionAppl_GetSubscriptions_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSubscriptions" />
  </wsdl:message>
  <wsdl:message name="ISubscriptionAppl_GetSubscriptions_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSubscriptionsResponse" />
  </wsdl:message>
  <wsdl:message name="ISubscriptionAppl_RemoveSubscriptions_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveSubscriptions" />
  </wsdl:message>
  <wsdl:message name="ISubscriptionAppl_RemoveSubscriptions_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveSubscriptionsResponse" />
  </wsdl:message>
  <wsdl:portType name="ISubscriptionAppl">
    <wsdl:operation name="CreateSubscriptionsByTextbook">
      <wsdl:input wsaw:Action="http://tempuri.org/ISubscriptionAppl/CreateSubscriptionsByTextbook" message="tns:ISubscriptionAppl_CreateSubscriptionsByTextbook_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISubscriptionAppl/CreateSubscriptionsByTextbookResponse" message="tns:ISubscriptionAppl_CreateSubscriptionsByTextbook_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSchoolWithNotSub">
      <wsdl:input wsaw:Action="http://tempuri.org/ISubscriptionAppl/GetSchoolWithNotSub" message="tns:ISubscriptionAppl_GetSchoolWithNotSub_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISubscriptionAppl/GetSchoolWithNotSubResponse" message="tns:ISubscriptionAppl_GetSchoolWithNotSub_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateSubscriptionsBySchoolId">
      <wsdl:input wsaw:Action="http://tempuri.org/ISubscriptionAppl/CreateSubscriptionsBySchoolId" message="tns:ISubscriptionAppl_CreateSubscriptionsBySchoolId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISubscriptionAppl/CreateSubscriptionsBySchoolIdResponse" message="tns:ISubscriptionAppl_CreateSubscriptionsBySchoolId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPressWithNotSub">
      <wsdl:input wsaw:Action="http://tempuri.org/ISubscriptionAppl/GetPressWithNotSub" message="tns:ISubscriptionAppl_GetPressWithNotSub_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISubscriptionAppl/GetPressWithNotSubResponse" message="tns:ISubscriptionAppl_GetPressWithNotSub_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateSubscriptionsByPress">
      <wsdl:input wsaw:Action="http://tempuri.org/ISubscriptionAppl/CreateSubscriptionsByPress" message="tns:ISubscriptionAppl_CreateSubscriptionsByPress_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISubscriptionAppl/CreateSubscriptionsByPressResponse" message="tns:ISubscriptionAppl_CreateSubscriptionsByPress_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SubmitSubscriptions">
      <wsdl:input wsaw:Action="http://tempuri.org/ISubscriptionAppl/SubmitSubscriptions" message="tns:ISubscriptionAppl_SubmitSubscriptions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISubscriptionAppl/SubmitSubscriptionsResponse" message="tns:ISubscriptionAppl_SubmitSubscriptions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFeedbackState">
      <wsdl:input wsaw:Action="http://tempuri.org/ISubscriptionAppl/GetFeedbackState" message="tns:ISubscriptionAppl_GetFeedbackState_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISubscriptionAppl/GetFeedbackStateResponse" message="tns:ISubscriptionAppl_GetFeedbackState_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSubscriptions">
      <wsdl:input wsaw:Action="http://tempuri.org/ISubscriptionAppl/GetSubscriptions" message="tns:ISubscriptionAppl_GetSubscriptions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISubscriptionAppl/GetSubscriptionsResponse" message="tns:ISubscriptionAppl_GetSubscriptions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveSubscriptions">
      <wsdl:input wsaw:Action="http://tempuri.org/ISubscriptionAppl/RemoveSubscriptions" message="tns:ISubscriptionAppl_RemoveSubscriptions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISubscriptionAppl/RemoveSubscriptionsResponse" message="tns:ISubscriptionAppl_RemoveSubscriptions_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISubscriptionAppl" type="tns:ISubscriptionAppl">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateSubscriptionsByTextbook">
      <soap:operation soapAction="http://tempuri.org/ISubscriptionAppl/CreateSubscriptionsByTextbook" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSchoolWithNotSub">
      <soap:operation soapAction="http://tempuri.org/ISubscriptionAppl/GetSchoolWithNotSub" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateSubscriptionsBySchoolId">
      <soap:operation soapAction="http://tempuri.org/ISubscriptionAppl/CreateSubscriptionsBySchoolId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPressWithNotSub">
      <soap:operation soapAction="http://tempuri.org/ISubscriptionAppl/GetPressWithNotSub" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateSubscriptionsByPress">
      <soap:operation soapAction="http://tempuri.org/ISubscriptionAppl/CreateSubscriptionsByPress" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitSubscriptions">
      <soap:operation soapAction="http://tempuri.org/ISubscriptionAppl/SubmitSubscriptions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFeedbackState">
      <soap:operation soapAction="http://tempuri.org/ISubscriptionAppl/GetFeedbackState" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSubscriptions">
      <soap:operation soapAction="http://tempuri.org/ISubscriptionAppl/GetSubscriptions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveSubscriptions">
      <soap:operation soapAction="http://tempuri.org/ISubscriptionAppl/RemoveSubscriptions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SubscriptionService">
    <wsdl:port name="BasicHttpBinding_ISubscriptionAppl" binding="tns:BasicHttpBinding_ISubscriptionAppl">
      <soap:address location="http://localhost:2726/SubscriptionService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>