TextbookManage.WebUI/Service References/SubscriptionService/SubscriptionService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TextbookManage.ViewModels" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TextbookManage.ViewModels" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2726/SubscriptionService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ArrayOfSubscriptionForSubmitView">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SubscriptionForSubmitView" nillable="true" type="tns:SubscriptionForSubmitView" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSubscriptionForSubmitView" nillable="true" type="tns:ArrayOfSubscriptionForSubmitView" />
  <xs:complexType name="SubscriptionForSubmitView">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:TextbookForDeclarationView">
        <xs:sequence>
          <xs:element minOccurs="0" name="DeclarationCount" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Declarations" nillable="true" type="tns:ArrayOfDeclarationView" />
          <xs:element minOccurs="0" name="SubscriptionId" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SubscriptionForSubmitView" nillable="true" type="tns:SubscriptionForSubmitView" />
  <xs:complexType name="TextbookForDeclarationView">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseViewModel">
        <xs:sequence>
          <xs:element minOccurs="0" name="Isbn" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Num" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TextbookId" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TextbookForDeclarationView" nillable="true" type="tns:TextbookForDeclarationView" />
  <xs:complexType name="BaseViewModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="CheckFlag" type="xs:boolean" />
      <xs:element minOccurs="0" name="DeleteFlag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsDelete" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaseViewModel" nillable="true" type="tns:BaseViewModel" />
  <xs:complexType name="ArrayOfDeclarationView">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DeclarationView" nillable="true" type="tns:DeclarationView" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDeclarationView" nillable="true" type="tns:ArrayOfDeclarationView" />
  <xs:complexType name="DeclarationView">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseViewModel">
        <xs:sequence>
          <xs:element minOccurs="0" name="Declarant" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DeclarationCount" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DeclarationId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Mobile" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NotNeedTextbook" type="xs:boolean" />
          <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="TeachingTaskNums" nillable="true" type="q1:ArrayOfstring" />
          <xs:element minOccurs="0" name="Telephone" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TextbookId" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DeclarationView" nillable="true" type="tns:DeclarationView" />
  <xs:complexType name="ArrayOfSchoolView">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SchoolView" nillable="true" type="tns:SchoolView" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSchoolView" nillable="true" type="tns:ArrayOfSchoolView" />
  <xs:complexType name="SchoolView">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseViewModel">
        <xs:sequence>
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SchoolId" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SchoolView" nillable="true" type="tns:SchoolView" />
  <xs:complexType name="ResponseView">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseViewModel">
        <xs:sequence>
          <xs:element minOccurs="0" name="IsSuccess" type="xs:boolean" />
          <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ResponseView" nillable="true" type="tns:ResponseView" />
  <xs:complexType name="ArrayOfFeedbackStateView">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FeedbackStateView" nillable="true" type="tns:FeedbackStateView" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFeedbackStateView" nillable="true" type="tns:ArrayOfFeedbackStateView" />
  <xs:complexType name="FeedbackStateView">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseViewModel">
        <xs:sequence>
          <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FeedbackStateView" nillable="true" type="tns:FeedbackStateView" />
  <xs:complexType name="ArrayOfSubscriptionForFeedbackView">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SubscriptionForFeedbackView" nillable="true" type="tns:SubscriptionForFeedbackView" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSubscriptionForFeedbackView" nillable="true" type="tns:ArrayOfSubscriptionForFeedbackView" />
  <xs:complexType name="SubscriptionForFeedbackView">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:TextbookForDeclarationView">
        <xs:sequence>
          <xs:element minOccurs="0" name="DeclarationCount" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SpareCount" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SubscriptionDate" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SubscriptionId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SubscriptionState" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TotalCount" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SubscriptionForFeedbackView" nillable="true" type="tns:SubscriptionForFeedbackView" />
</xs:schema>