TextbookManage.WebUI/Service References/SubscriptionService/SubscriptionService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2726/SubscriptionService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TextbookManage.ViewModels" />
  <xs:import schemaLocation="http://localhost:2726/SubscriptionService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetBooksellers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBooksellersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TextbookManage.ViewModels" minOccurs="0" name="GetBooksellersResult" nillable="true" type="q1:ArrayOfBooksellerView" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateSubscriptionsByTextbook">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="term" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="textbookName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="isbn" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateSubscriptionsByTextbookResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/TextbookManage.ViewModels" minOccurs="0" name="CreateSubscriptionsByTextbookResult" nillable="true" type="q2:ArrayOfSubscriptionForSubmitView" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSchoolWithNotSub">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="term" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSchoolWithNotSubResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/TextbookManage.ViewModels" minOccurs="0" name="GetSchoolWithNotSubResult" nillable="true" type="q3:ArrayOfSchoolView" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateSubscriptionsBySchoolId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="term" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="schoolId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateSubscriptionsBySchoolIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/TextbookManage.ViewModels" minOccurs="0" name="CreateSubscriptionsBySchoolIdResult" nillable="true" type="q4:ArrayOfSubscriptionForSubmitView" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPressWithNotSub">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="term" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPressWithNotSubResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetPressWithNotSubResult" nillable="true" type="q5:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateSubscriptionsByPress">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="term" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="press" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateSubscriptionsByPressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/TextbookManage.ViewModels" minOccurs="0" name="CreateSubscriptionsByPressResult" nillable="true" type="q6:ArrayOfSubscriptionForSubmitView" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubmitSubscriptions">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="booksellerId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="spareCount" nillable="true" type="xs:string" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/TextbookManage.ViewModels" minOccurs="0" name="subscriptions" nillable="true" type="q7:ArrayOfSubscriptionForSubmitView" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubmitSubscriptionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/TextbookManage.ViewModels" minOccurs="0" name="SubmitSubscriptionsResult" nillable="true" type="q8:ResponseView" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFeedbackState">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFeedbackStateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/TextbookManage.ViewModels" minOccurs="0" name="GetFeedbackStateResult" nillable="true" type="q9:ArrayOfFeedbackStateView" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSubscriptions">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="term" nillable="true" type="xs:string" />
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/TextbookManage.ViewModels" minOccurs="0" name="state" nillable="true" type="q10:FeedbackStateView" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSubscriptionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/TextbookManage.ViewModels" minOccurs="0" name="GetSubscriptionsResult" nillable="true" type="q11:ArrayOfSubscriptionForSubmitView" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveSubscriptions">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/TextbookManage.ViewModels" minOccurs="0" name="subscriptions" nillable="true" type="q12:ArrayOfSubscriptionForSubmitView" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveSubscriptionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/TextbookManage.ViewModels" minOccurs="0" name="RemoveSubscriptionsResult" nillable="true" type="q13:ResponseView" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>