TextbookManage.WebUI/Service References/TextbookApprovalService/TextbookApprovalService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TextbookApprovalService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:2726/TextbookApprovalService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:2726/TextbookApprovalService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:2726/TextbookApprovalService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TextbookManage.ViewModels" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITextbookApprovalAppl_GetAuditor_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAuditor" />
  </wsdl:message>
  <wsdl:message name="ITextbookApprovalAppl_GetAuditor_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAuditorResponse" />
  </wsdl:message>
  <wsdl:message name="ITextbookApprovalAppl_GetSchoolWithNotApproval_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSchoolWithNotApproval" />
  </wsdl:message>
  <wsdl:message name="ITextbookApprovalAppl_GetSchoolWithNotApproval_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSchoolWithNotApprovalResponse" />
  </wsdl:message>
  <wsdl:message name="ITextbookApprovalAppl_GetTextbookWithNotApproval_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTextbookWithNotApproval" />
  </wsdl:message>
  <wsdl:message name="ITextbookApprovalAppl_GetTextbookWithNotApproval_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTextbookWithNotApprovalResponse" />
  </wsdl:message>
  <wsdl:message name="ITextbookApprovalAppl_SubmitTextbookApproval_InputMessage">
    <wsdl:part name="parameters" element="tns:SubmitTextbookApproval" />
  </wsdl:message>
  <wsdl:message name="ITextbookApprovalAppl_SubmitTextbookApproval_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubmitTextbookApprovalResponse" />
  </wsdl:message>
  <wsdl:portType name="ITextbookApprovalAppl">
    <wsdl:operation name="GetAuditor">
      <wsdl:input wsaw:Action="http://tempuri.org/ITextbookApprovalAppl/GetAuditor" message="tns:ITextbookApprovalAppl_GetAuditor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITextbookApprovalAppl/GetAuditorResponse" message="tns:ITextbookApprovalAppl_GetAuditor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSchoolWithNotApproval">
      <wsdl:input wsaw:Action="http://tempuri.org/ITextbookApprovalAppl/GetSchoolWithNotApproval" message="tns:ITextbookApprovalAppl_GetSchoolWithNotApproval_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITextbookApprovalAppl/GetSchoolWithNotApprovalResponse" message="tns:ITextbookApprovalAppl_GetSchoolWithNotApproval_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTextbookWithNotApproval">
      <wsdl:input wsaw:Action="http://tempuri.org/ITextbookApprovalAppl/GetTextbookWithNotApproval" message="tns:ITextbookApprovalAppl_GetTextbookWithNotApproval_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITextbookApprovalAppl/GetTextbookWithNotApprovalResponse" message="tns:ITextbookApprovalAppl_GetTextbookWithNotApproval_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SubmitTextbookApproval">
      <wsdl:input wsaw:Action="http://tempuri.org/ITextbookApprovalAppl/SubmitTextbookApproval" message="tns:ITextbookApprovalAppl_SubmitTextbookApproval_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITextbookApprovalAppl/SubmitTextbookApprovalResponse" message="tns:ITextbookApprovalAppl_SubmitTextbookApproval_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITextbookApprovalAppl" type="tns:ITextbookApprovalAppl">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAuditor">
      <soap:operation soapAction="http://tempuri.org/ITextbookApprovalAppl/GetAuditor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSchoolWithNotApproval">
      <soap:operation soapAction="http://tempuri.org/ITextbookApprovalAppl/GetSchoolWithNotApproval" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTextbookWithNotApproval">
      <soap:operation soapAction="http://tempuri.org/ITextbookApprovalAppl/GetTextbookWithNotApproval" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitTextbookApproval">
      <soap:operation soapAction="http://tempuri.org/ITextbookApprovalAppl/SubmitTextbookApproval" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TextbookApprovalService">
    <wsdl:port name="BasicHttpBinding_ITextbookApprovalAppl" binding="tns:BasicHttpBinding_ITextbookApprovalAppl">
      <soap:address location="http://localhost:2726/TextbookApprovalService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>