TextbookManage.WebUI/Service References/InventoryService/InventoryService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2726/InventoryService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TextbookManage.ViewModels" />
  <xs:element name="GetStorages">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStoragesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TextbookManage.ViewModels" minOccurs="0" name="GetStoragesResult" nillable="true" type="q1:ArrayOfStorageView" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTextbooksByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="isbn" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTextbooksByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/TextbookManage.ViewModels" minOccurs="0" name="GetTextbooksByNameResult" nillable="true" type="q2:ArrayOfTextbookView" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInventory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="storageId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="textbookId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInventoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/TextbookManage.ViewModels" minOccurs="0" name="GetInventoryResult" nillable="true" type="q3:InventoryView" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubmitInStock">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/TextbookManage.ViewModels" minOccurs="0" name="inventory" nillable="true" type="q4:InventoryView" />
        <xs:element minOccurs="0" name="instockCount" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="loginName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubmitInStockResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/TextbookManage.ViewModels" minOccurs="0" name="SubmitInStockResult" nillable="true" type="q5:ResponseView" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStockRecordsByDate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="storageId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="stockType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="beginDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="endDate" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStockRecordsByDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/TextbookManage.ViewModels" minOccurs="0" name="GetStockRecordsByDateResult" nillable="true" type="q6:ArrayOfStockRecordView" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStockRecordsByTextbook">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="storageId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="stockType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="textbookName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="isbn" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStockRecordsByTextbookResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/TextbookManage.ViewModels" minOccurs="0" name="GetStockRecordsByTextbookResult" nillable="true" type="q7:ArrayOfStockRecordView" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>