TextbookManage.WebUI/Service References/InventoryService/InventoryService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="InventoryService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:2726/InventoryService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:2726/InventoryService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:2726/InventoryService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TextbookManage.ViewModels" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IInventoryAppl_GetStorages_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStorages" />
  </wsdl:message>
  <wsdl:message name="IInventoryAppl_GetStorages_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStoragesResponse" />
  </wsdl:message>
  <wsdl:message name="IInventoryAppl_GetTextbooksByName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTextbooksByName" />
  </wsdl:message>
  <wsdl:message name="IInventoryAppl_GetTextbooksByName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTextbooksByNameResponse" />
  </wsdl:message>
  <wsdl:message name="IInventoryAppl_GetInventory_InputMessage">
    <wsdl:part name="parameters" element="tns:GetInventory" />
  </wsdl:message>
  <wsdl:message name="IInventoryAppl_GetInventory_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetInventoryResponse" />
  </wsdl:message>
  <wsdl:message name="IInventoryAppl_SubmitInStock_InputMessage">
    <wsdl:part name="parameters" element="tns:SubmitInStock" />
  </wsdl:message>
  <wsdl:message name="IInventoryAppl_SubmitInStock_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubmitInStockResponse" />
  </wsdl:message>
  <wsdl:message name="IInventoryAppl_GetStockRecordsByDate_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStockRecordsByDate" />
  </wsdl:message>
  <wsdl:message name="IInventoryAppl_GetStockRecordsByDate_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStockRecordsByDateResponse" />
  </wsdl:message>
  <wsdl:message name="IInventoryAppl_GetStockRecordsByTextbook_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStockRecordsByTextbook" />
  </wsdl:message>
  <wsdl:message name="IInventoryAppl_GetStockRecordsByTextbook_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStockRecordsByTextbookResponse" />
  </wsdl:message>
  <wsdl:portType name="IInventoryAppl">
    <wsdl:operation name="GetStorages">
      <wsdl:input wsaw:Action="http://tempuri.org/IInventoryAppl/GetStorages" message="tns:IInventoryAppl_GetStorages_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInventoryAppl/GetStoragesResponse" message="tns:IInventoryAppl_GetStorages_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTextbooksByName">
      <wsdl:input wsaw:Action="http://tempuri.org/IInventoryAppl/GetTextbooksByName" message="tns:IInventoryAppl_GetTextbooksByName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInventoryAppl/GetTextbooksByNameResponse" message="tns:IInventoryAppl_GetTextbooksByName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetInventory">
      <wsdl:input wsaw:Action="http://tempuri.org/IInventoryAppl/GetInventory" message="tns:IInventoryAppl_GetInventory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInventoryAppl/GetInventoryResponse" message="tns:IInventoryAppl_GetInventory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SubmitInStock">
      <wsdl:input wsaw:Action="http://tempuri.org/IInventoryAppl/SubmitInStock" message="tns:IInventoryAppl_SubmitInStock_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInventoryAppl/SubmitInStockResponse" message="tns:IInventoryAppl_SubmitInStock_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStockRecordsByDate">
      <wsdl:input wsaw:Action="http://tempuri.org/IInventoryAppl/GetStockRecordsByDate" message="tns:IInventoryAppl_GetStockRecordsByDate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInventoryAppl/GetStockRecordsByDateResponse" message="tns:IInventoryAppl_GetStockRecordsByDate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStockRecordsByTextbook">
      <wsdl:input wsaw:Action="http://tempuri.org/IInventoryAppl/GetStockRecordsByTextbook" message="tns:IInventoryAppl_GetStockRecordsByTextbook_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInventoryAppl/GetStockRecordsByTextbookResponse" message="tns:IInventoryAppl_GetStockRecordsByTextbook_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IInventoryAppl" type="tns:IInventoryAppl">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetStorages">
      <soap:operation soapAction="http://tempuri.org/IInventoryAppl/GetStorages" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTextbooksByName">
      <soap:operation soapAction="http://tempuri.org/IInventoryAppl/GetTextbooksByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInventory">
      <soap:operation soapAction="http://tempuri.org/IInventoryAppl/GetInventory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitInStock">
      <soap:operation soapAction="http://tempuri.org/IInventoryAppl/SubmitInStock" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStockRecordsByDate">
      <soap:operation soapAction="http://tempuri.org/IInventoryAppl/GetStockRecordsByDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStockRecordsByTextbook">
      <soap:operation soapAction="http://tempuri.org/IInventoryAppl/GetStockRecordsByTextbook" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="InventoryService">
    <wsdl:port name="BasicHttpBinding_IInventoryAppl" binding="tns:BasicHttpBinding_IInventoryAppl">
      <soap:address location="http://localhost:2726/InventoryService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>