TextbookManage.WebUI/Service References/InventoryService/InventoryService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TextbookManage.ViewModels" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TextbookManage.ViewModels" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfStorageView">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StorageView" nillable="true" type="tns:StorageView" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStorageView" nillable="true" type="tns:ArrayOfStorageView" />
  <xs:complexType name="StorageView">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseViewModel">
        <xs:sequence>
          <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="BooksellerId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="BooksellerName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StorageId" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="StorageView" nillable="true" type="tns:StorageView" />
  <xs:complexType name="BaseViewModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="CheckFlag" type="xs:boolean" />
      <xs:element minOccurs="0" name="DeleteFlag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsDelete" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaseViewModel" nillable="true" type="tns:BaseViewModel" />
  <xs:complexType name="ArrayOfTextbookView">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TextbookView" nillable="true" type="tns:TextbookView" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTextbookView" nillable="true" type="tns:ArrayOfTextbookView" />
  <xs:complexType name="TextbookView">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseViewModel">
        <xs:sequence>
          <xs:element minOccurs="0" name="Author" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Edition" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IsSelfCompile" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Isbn" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Num" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PageCount" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Press" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PressAddress" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Price" type="xs:decimal" />
          <xs:element minOccurs="0" name="PrintCount" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PublishDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="TextbookId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TextbookType" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TextbookView" nillable="true" type="tns:TextbookView" />
  <xs:complexType name="InventoryView">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:TextbookView">
        <xs:sequence>
          <xs:element minOccurs="0" name="InventoryCount" type="xs:int" />
          <xs:element minOccurs="0" name="InventoryId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ShelfNumber" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StorageId" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="InventoryView" nillable="true" type="tns:InventoryView" />
  <xs:complexType name="ResponseView">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseViewModel">
        <xs:sequence>
          <xs:element minOccurs="0" name="IsSuccess" type="xs:boolean" />
          <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ResponseView" nillable="true" type="tns:ResponseView" />
  <xs:complexType name="ArrayOfStockRecordView">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StockRecordView" nillable="true" type="tns:StockRecordView" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStockRecordView" nillable="true" type="tns:ArrayOfStockRecordView" />
  <xs:complexType name="StockRecordView">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:TextbookView">
        <xs:sequence>
          <xs:element minOccurs="0" name="Operator" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ShelfNumber" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StockCount" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StockDate" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StockRecordId" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="StockRecordView" nillable="true" type="tns:StockRecordView" />
</xs:schema>