TextbookManage.WebUI/Service References/FeedbackService/FeedbackService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TextbookManage.ViewModels" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TextbookManage.ViewModels" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfSubscriptionForFeedbackView">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SubscriptionForFeedbackView" nillable="true" type="tns:SubscriptionForFeedbackView" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSubscriptionForFeedbackView" nillable="true" type="tns:ArrayOfSubscriptionForFeedbackView" />
  <xs:complexType name="SubscriptionForFeedbackView">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:TextbookForDeclarationView">
        <xs:sequence>
          <xs:element minOccurs="0" name="DeclarationCount" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SpareCount" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SubscriptionDate" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SubscriptionId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SubscriptionState" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TotalCount" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SubscriptionForFeedbackView" nillable="true" type="tns:SubscriptionForFeedbackView" />
  <xs:complexType name="TextbookForDeclarationView">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseViewModel">
        <xs:sequence>
          <xs:element minOccurs="0" name="Isbn" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Num" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TextbookId" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TextbookForDeclarationView" nillable="true" type="tns:TextbookForDeclarationView" />
  <xs:complexType name="BaseViewModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="CheckFlag" type="xs:boolean" />
      <xs:element minOccurs="0" name="DeleteFlag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsDelete" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaseViewModel" nillable="true" type="tns:BaseViewModel" />
  <xs:complexType name="ResponseView">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseViewModel">
        <xs:sequence>
          <xs:element minOccurs="0" name="IsSuccess" type="xs:boolean" />
          <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ResponseView" nillable="true" type="tns:ResponseView" />
  <xs:complexType name="ArrayOfBooksellerView">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BooksellerView" nillable="true" type="tns:BooksellerView" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBooksellerView" nillable="true" type="tns:ArrayOfBooksellerView" />
  <xs:complexType name="BooksellerView">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseViewModel">
        <xs:sequence>
          <xs:element minOccurs="0" name="BooksellerId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BooksellerView" nillable="true" type="tns:BooksellerView" />
  <xs:complexType name="ArrayOfFeedbackStateView">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FeedbackStateView" nillable="true" type="tns:FeedbackStateView" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFeedbackStateView" nillable="true" type="tns:ArrayOfFeedbackStateView" />
  <xs:complexType name="FeedbackStateView">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseViewModel">
        <xs:sequence>
          <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FeedbackStateView" nillable="true" type="tns:FeedbackStateView" />
  <xs:complexType name="FeedbackView">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseViewModel">
        <xs:sequence>
          <xs:element minOccurs="0" name="BooksellerName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FeedbackDate" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FeedbackId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FeedbackState" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Person" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Remark" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FeedbackView" nillable="true" type="tns:FeedbackView" />
</xs:schema>