TextbookManage.WebUI/Service References/TextbookService/TextbookService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2726/TextbookService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TextbookManage.ViewModels" />
  <xs:element name="GetPresses">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPressesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TextbookManage.ViewModels" minOccurs="0" name="GetPressesResult" nillable="true" type="q1:ArrayOfPressView" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Add">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/TextbookManage.ViewModels" minOccurs="0" name="textbook" nillable="true" type="q2:TextbookView" />
        <xs:element minOccurs="0" name="loginName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/TextbookManage.ViewModels" minOccurs="0" name="AddResult" nillable="true" type="q3:ResponseView" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Modify">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/TextbookManage.ViewModels" minOccurs="0" name="textbook" nillable="true" type="q4:TextbookView" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/TextbookManage.ViewModels" minOccurs="0" name="ModifyResult" nillable="true" type="q5:ResponseView" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Remove">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/TextbookManage.ViewModels" minOccurs="0" name="textbooks" nillable="true" type="q6:ArrayOfTextbookForQueryView" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/TextbookManage.ViewModels" minOccurs="0" name="RemoveResult" nillable="true" type="q7:ResponseView" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="textbookId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/TextbookManage.ViewModels" minOccurs="0" name="GetByIdResult" nillable="true" type="q8:TextbookView" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="textbookName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="isbn" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/TextbookManage.ViewModels" minOccurs="0" name="GetByNameResult" nillable="true" type="q9:ArrayOfTextbookForQueryView" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByLoginName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByLoginNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/TextbookManage.ViewModels" minOccurs="0" name="GetByLoginNameResult" nillable="true" type="q10:ArrayOfTextbookForQueryView" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>