TextbookManage.WebUI/Service References/TextbookService/TextbookService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TextbookService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:2726/TextbookService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:2726/TextbookService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:2726/TextbookService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TextbookManage.ViewModels" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITextbookAppl_GetPresses_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPresses" />
  </wsdl:message>
  <wsdl:message name="ITextbookAppl_GetPresses_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPressesResponse" />
  </wsdl:message>
  <wsdl:message name="ITextbookAppl_Add_InputMessage">
    <wsdl:part name="parameters" element="tns:Add" />
  </wsdl:message>
  <wsdl:message name="ITextbookAppl_Add_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddResponse" />
  </wsdl:message>
  <wsdl:message name="ITextbookAppl_Modify_InputMessage">
    <wsdl:part name="parameters" element="tns:Modify" />
  </wsdl:message>
  <wsdl:message name="ITextbookAppl_Modify_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModifyResponse" />
  </wsdl:message>
  <wsdl:message name="ITextbookAppl_Remove_InputMessage">
    <wsdl:part name="parameters" element="tns:Remove" />
  </wsdl:message>
  <wsdl:message name="ITextbookAppl_Remove_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveResponse" />
  </wsdl:message>
  <wsdl:message name="ITextbookAppl_GetById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetById" />
  </wsdl:message>
  <wsdl:message name="ITextbookAppl_GetById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetByIdResponse" />
  </wsdl:message>
  <wsdl:message name="ITextbookAppl_GetByName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetByName" />
  </wsdl:message>
  <wsdl:message name="ITextbookAppl_GetByName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetByNameResponse" />
  </wsdl:message>
  <wsdl:message name="ITextbookAppl_GetByLoginName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetByLoginName" />
  </wsdl:message>
  <wsdl:message name="ITextbookAppl_GetByLoginName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetByLoginNameResponse" />
  </wsdl:message>
  <wsdl:portType name="ITextbookAppl">
    <wsdl:operation name="GetPresses">
      <wsdl:input wsaw:Action="http://tempuri.org/ITextbookAppl/GetPresses" message="tns:ITextbookAppl_GetPresses_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITextbookAppl/GetPressesResponse" message="tns:ITextbookAppl_GetPresses_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Add">
      <wsdl:input wsaw:Action="http://tempuri.org/ITextbookAppl/Add" message="tns:ITextbookAppl_Add_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITextbookAppl/AddResponse" message="tns:ITextbookAppl_Add_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Modify">
      <wsdl:input wsaw:Action="http://tempuri.org/ITextbookAppl/Modify" message="tns:ITextbookAppl_Modify_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITextbookAppl/ModifyResponse" message="tns:ITextbookAppl_Modify_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Remove">
      <wsdl:input wsaw:Action="http://tempuri.org/ITextbookAppl/Remove" message="tns:ITextbookAppl_Remove_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITextbookAppl/RemoveResponse" message="tns:ITextbookAppl_Remove_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetById">
      <wsdl:input wsaw:Action="http://tempuri.org/ITextbookAppl/GetById" message="tns:ITextbookAppl_GetById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITextbookAppl/GetByIdResponse" message="tns:ITextbookAppl_GetById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetByName">
      <wsdl:input wsaw:Action="http://tempuri.org/ITextbookAppl/GetByName" message="tns:ITextbookAppl_GetByName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITextbookAppl/GetByNameResponse" message="tns:ITextbookAppl_GetByName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetByLoginName">
      <wsdl:input wsaw:Action="http://tempuri.org/ITextbookAppl/GetByLoginName" message="tns:ITextbookAppl_GetByLoginName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITextbookAppl/GetByLoginNameResponse" message="tns:ITextbookAppl_GetByLoginName_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITextbookAppl" type="tns:ITextbookAppl">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPresses">
      <soap:operation soapAction="http://tempuri.org/ITextbookAppl/GetPresses" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Add">
      <soap:operation soapAction="http://tempuri.org/ITextbookAppl/Add" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Modify">
      <soap:operation soapAction="http://tempuri.org/ITextbookAppl/Modify" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Remove">
      <soap:operation soapAction="http://tempuri.org/ITextbookAppl/Remove" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetById">
      <soap:operation soapAction="http://tempuri.org/ITextbookAppl/GetById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetByName">
      <soap:operation soapAction="http://tempuri.org/ITextbookAppl/GetByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetByLoginName">
      <soap:operation soapAction="http://tempuri.org/ITextbookAppl/GetByLoginName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TextbookService">
    <wsdl:port name="BasicHttpBinding_ITextbookAppl" binding="tns:BasicHttpBinding_ITextbookAppl">
      <soap:address location="http://localhost:2726/TextbookService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>