TextbookManage.WebUI/Service References/DeclarationProgressService/DeclarationProgressService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DeclarationProgressService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:2726/DeclarationProgressService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:2726/DeclarationProgressService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:2726/DeclarationProgressService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TextbookManage.ViewModels" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDeclarationProgressAppl_GetDataSign_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataSign" />
  </wsdl:message>
  <wsdl:message name="IDeclarationProgressAppl_GetDataSign_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataSignResponse" />
  </wsdl:message>
  <wsdl:message name="IDeclarationProgressAppl_GetSchoolProgress_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSchoolProgress" />
  </wsdl:message>
  <wsdl:message name="IDeclarationProgressAppl_GetSchoolProgress_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSchoolProgressResponse" />
  </wsdl:message>
  <wsdl:message name="IDeclarationProgressAppl_GetDepartments_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDepartments" />
  </wsdl:message>
  <wsdl:message name="IDeclarationProgressAppl_GetDepartments_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDepartmentsResponse" />
  </wsdl:message>
  <wsdl:message name="IDeclarationProgressAppl_GetDepartmentProgress_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDepartmentProgress" />
  </wsdl:message>
  <wsdl:message name="IDeclarationProgressAppl_GetDepartmentProgress_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDepartmentProgressResponse" />
  </wsdl:message>
  <wsdl:portType name="IDeclarationProgressAppl">
    <wsdl:operation name="GetDataSign">
      <wsdl:input wsaw:Action="http://tempuri.org/IDeclarationProgressAppl/GetDataSign" message="tns:IDeclarationProgressAppl_GetDataSign_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDeclarationProgressAppl/GetDataSignResponse" message="tns:IDeclarationProgressAppl_GetDataSign_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSchoolProgress">
      <wsdl:input wsaw:Action="http://tempuri.org/IDeclarationProgressAppl/GetSchoolProgress" message="tns:IDeclarationProgressAppl_GetSchoolProgress_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDeclarationProgressAppl/GetSchoolProgressResponse" message="tns:IDeclarationProgressAppl_GetSchoolProgress_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDepartments">
      <wsdl:input wsaw:Action="http://tempuri.org/IDeclarationProgressAppl/GetDepartments" message="tns:IDeclarationProgressAppl_GetDepartments_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDeclarationProgressAppl/GetDepartmentsResponse" message="tns:IDeclarationProgressAppl_GetDepartments_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDepartmentProgress">
      <wsdl:input wsaw:Action="http://tempuri.org/IDeclarationProgressAppl/GetDepartmentProgress" message="tns:IDeclarationProgressAppl_GetDepartmentProgress_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDeclarationProgressAppl/GetDepartmentProgressResponse" message="tns:IDeclarationProgressAppl_GetDepartmentProgress_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IDeclarationProgressAppl" type="tns:IDeclarationProgressAppl">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDataSign">
      <soap:operation soapAction="http://tempuri.org/IDeclarationProgressAppl/GetDataSign" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSchoolProgress">
      <soap:operation soapAction="http://tempuri.org/IDeclarationProgressAppl/GetSchoolProgress" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDepartments">
      <soap:operation soapAction="http://tempuri.org/IDeclarationProgressAppl/GetDepartments" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDepartmentProgress">
      <soap:operation soapAction="http://tempuri.org/IDeclarationProgressAppl/GetDepartmentProgress" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DeclarationProgressService">
    <wsdl:port name="BasicHttpBinding_IDeclarationProgressAppl" binding="tns:BasicHttpBinding_IDeclarationProgressAppl">
      <soap:address location="http://localhost:2726/DeclarationProgressService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>